################################################
# Files and folders that will be ignored by git
################################################

bin/
obj/
depend/
data/audio/music
SpaceShooter
*.swp
